@import "font.css"

clear_after =
  display block
  content ""
  visibility hidden
  height 0
  clear both

var_header_height = 7.2%//100 * 90px/1250px (1250px  width of maket)
var_header_logo_font_size = 3.39vw//100 * 42.35px/1250px
var_header_menu_font_size = 1.63vw//100 * 20.35px/1250px

var_slider_background_height = 39.2%//100 * 490px/1250px
var_slider_height = 34.4%//100 * 430px/1250px

var_content_width = 84%//100 * 1050px/1250px

var_main_color_of_style = #5094f2
var_second_color_of_style = #d94748
var_third_color_of_style = #ebbb11
var_color_of_content_h = #6f7173
var_color_of_content_p = #909090

body
  font-family "MyriadPro-Regular"

.wrap-header
  box-sizing border-box
  width 100%
  height 0
  padding-bottom var_header_height
  .header-logo
  .header-menu
    float left
    box-sizing border-box
  .header-logo
    margin-left 11.2%//100 * 140px/1250px
    width 56.8%  - 11.2%//100 * (710px - 140px)/1250px
    font-size var_header_logo_font_size//100 * 42.35px/1250px
    padding-top ((var_header_height/2) - var_header_logo_font_size/2)%
    padding-bottom ((var_header_height/2) - var_header_logo_font_size/2)%
    padding-left 4.8%//100 * 60px/1250px
    background url(../images/logo-icon.png) no-repeat
    background-size contain
  .header-menu
    width 43.2%//100 * 540px/1250px
    li
      display inline-block
      margin 0 2.4%//100 * 30px/1250px
      box-sizing border-box
      a
        display block
        box-sizing border-box
        color #6c6c6c
        text-decoration none
        font-size var_header_menu_font_size
        line-height 422%//var_header_menu_font_size/(var_header_height - border_bottom(3px)
        padding 0 5%
    li:hover
      border-bottom 10px solid var_main_color_of_style
  &:after
    {clear_after}
.wrap-slider
  width 100%
  height 0
  padding-top 1px
  padding-bottom var_slider_background_height//39.2%//100 * 490px/1250px
  background url(../images/slide-bg.jpg) no-repeat
  background-size cover
  box-sizing border-box
  position relative
  .slider
    height 0
    padding-bottom var_slider_height//100 * 430px/1250px
    margin ((var_slider_background_height - var_slider_height)/2) 0
    width 144%
    margin-left -44%
    box-sizing border-box
    .slider-text
      color #fff
      padding 8.06% 0 0 65.28%//100 * 145px/(1250*(144/100))px 0 0 100 * 1175px/(1250*(144/100))px
      line-height var_header_logo_font_size
      h1
        font-size var_header_logo_font_size
      p
        font-size var_header_logo_font_size*(26.35/42.35)//26.35px - target font-size 42.35 - header_logo_font_size in px
        width 41.72%
  button
    position absolute
    left 51.04%//100 * 638px/1250px
    bottom 27.35%//100 * 134px/490px    490px  - slider_background_height
    width 13.76%//100 * 172px/1250px
    height 8.57%//100* 42px/490px
    font-size 1.4vw//100 * 22.35px/1250px with experimental correction
    line-height @height
    text-align left
    padding-left 3.2%//100 * 40px/1250px
    cursor pointer
    background url(../images/sign-up2.png) no-repeat var_main_color_of_style
    background-size contain
    border-radius 2px
    border-style none
    color #fff
.big-icons-menu
  width var_content_width
  margin 4.4% auto//100 * 55px/1250px
  font-size 0
  li
    display inline-block
    box-sizing border-box
    width (100/3)%
    text-align center
    .big-icons-menu-icon
      height 0
      padding-top 52.86%//100 * 185px/(var_content_width in px/3)
      width 52.86%
      margin 0 auto
      border-radius 50%
    &:nth-child(1) .big-icons-menu-icon
      background url(../images/pencil-icon.png) var_main_color_of_style 50% 50% no-repeat
      background-size 41%//experimental value
    &:nth-child(2) .big-icons-menu-icon
      background url(../images/monitor-icon.png) var_second_color_of_style 50% 50% no-repeat
      background-size 50%//experimental value
    &:nth-child(3) .big-icons-menu-icon
      background url(../images/basket-icon.png) var_third_color_of_style 50% 50% no-repeat
      background-size 55%//experimental value
    h3
      padding-top 1.2%//100 * 15px/1250px
      font-size var_header_menu_font_size
      line-height 1.97em//40px/header_menu_font_size in px
      a
        color var_main_color_of_style
        text-decoration none
    p
      padding 0 12%//100 * 42px / (var_content_width in px/3)
      font-size 1.15vw//100 * 14.35px/1250px
      line-height 1.18em//100 * 17px/1250px
      color var_color_of_content_p
.shopping-cart
  width var_content_width
  margin 0 auto
  h1
    font-size var_header_logo_font_size
    color var_color_of_content_h
    line-height 2em//experimental value
  div
    padding 2% 17% 5% 40.8%//experimental value
    background url(../images/basket.png) no-repeat 0 45%//experimental value
    background-size 35.3%//experimental value
    h2
      font-size 2.11vw//100 * 26.35px/1250px
      line-height 2.35em//62px / font-size in px
      color var_color_of_content_h
    p
      font-size 1.23vw//100 * 15.35px/1250px
      line-height 2.35em//36px / font-size in px
      color var_color_of_content_p
.footer
  border-top 1px solid var_color_of_content_p + #555555//#e5e5e5
  text-align center
  padding 2.4% 0//100 * 30px/1250px
  font-size 1.23vw
  color var_color_of_content_p

