@import "font.css";
body {
  font-family: "MyriadPro-Regular";
}
.wrap-header {
  box-sizing: border-box;
  width: 100%;
  height: 0;
  padding-bottom: 7.2%;
}
.wrap-header .header-logo,
.wrap-header .header-menu {
  float: left;
  box-sizing: border-box;
}
.wrap-header .header-logo {
  margin-left: 11.2%;
  width: 45.599999999999994%;
  font-size: 3.39vw;
  padding-top: 1.905%;
  padding-bottom: 1.905%;
  padding-left: 4.8%;
  background: url("../images/logo-icon.png") no-repeat;
  background-size: contain;
}
.wrap-header .header-menu {
  width: 43.2%;
}
.wrap-header .header-menu li {
  display: inline-block;
  margin: 0 2.4%;
  box-sizing: border-box;
}
.wrap-header .header-menu li a {
  display: block;
  box-sizing: border-box;
  color: #6c6c6c;
  text-decoration: none;
  font-size: 1.63vw;
  line-height: 422%;
  padding: 0 5%;
}
.wrap-header .header-menu li:hover {
  border-bottom: 10px solid #5094f2;
}
.wrap-header:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.wrap-slider {
  width: 100%;
  height: 0;
  padding-top: 1px;
  padding-bottom: 39.2%;
  background: url("../images/slide-bg.jpg") no-repeat;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.wrap-slider .slider {
  height: 0;
  padding-bottom: 34.4%;
  margin: 2.400000000000002% 0;
  width: 144%;
  margin-left: -44%;
  box-sizing: border-box;
}
.wrap-slider .slider .slider-text {
  color: #fff;
  padding: 8.06% 0 0 65.28%;
  line-height: 3.39vw;
}
.wrap-slider .slider .slider-text h1 {
  font-size: 3.39vw;
}
.wrap-slider .slider .slider-text p {
  font-size: 2.109244391971663vw;
  width: 41.72%;
}
.wrap-slider button {
  position: absolute;
  left: 51.04%;
  bottom: 27.35%;
  width: 13.76%;
  height: 8.57%;
  font-size: 1.4vw;
  line-height: 8.57%;
  text-align: left;
  padding-left: 3.2%;
  cursor: pointer;
  background: url("../images/sign-up2.png") no-repeat #5094f2;
  background-size: contain;
  border-radius: 2px;
  border-style: none;
  color: #fff;
}
.big-icons-menu {
  width: 84%;
  margin: 4.4% auto;
  font-size: 0;
}
.big-icons-menu li {
  display: inline-block;
  box-sizing: border-box;
  width: 33.333333333333336%;
  text-align: center;
}
.big-icons-menu li .big-icons-menu-icon {
  height: 0;
  padding-top: 52.86%;
  width: 52.86%;
  margin: 0 auto;
  border-radius: 50%;
}
.big-icons-menu li:nth-child(1) .big-icons-menu-icon {
  background: url("../images/pencil-icon.png") #5094f2 50% 50% no-repeat;
  background-size: 41%;
}
.big-icons-menu li:nth-child(2) .big-icons-menu-icon {
  background: url("../images/monitor-icon.png") #d94748 50% 50% no-repeat;
  background-size: 50%;
}
.big-icons-menu li:nth-child(3) .big-icons-menu-icon {
  background: url("../images/basket-icon.png") #ebbb11 50% 50% no-repeat;
  background-size: 55%;
}
.big-icons-menu li h3 {
  padding-top: 1.2%;
  font-size: 1.63vw;
  line-height: 1.97em;
}
.big-icons-menu li h3 a {
  color: #5094f2;
  text-decoration: none;
}
.big-icons-menu li p {
  padding: 0 12%;
  font-size: 1.15vw;
  line-height: 1.18em;
  color: #909090;
}
.shopping-cart {
  width: 84%;
  margin: 0 auto;
}
.shopping-cart h1 {
  font-size: 3.39vw;
  color: #6f7173;
  line-height: 2em;
}
.shopping-cart div {
  padding: 2% 17% 5% 40.8%;
  background: url("../images/basket.png") no-repeat 0 45%;
  background-size: 35.3%;
}
.shopping-cart div h2 {
  font-size: 2.11vw;
  line-height: 2.35em;
  color: #6f7173;
}
.shopping-cart div p {
  font-size: 1.23vw;
  line-height: 2.35em;
  color: #909090;
}
.footer {
  border-top: 1px solid #e5e5e5;
  text-align: center;
  padding: 2.4% 0;
  font-size: 1.23vw;
  color: #909090;
}
